html {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand {
    color: white;
    
}
.navbar-brand:hover {
    color: black;
}
.img-header {
    width: 400px;
    height: 300px;
    transform: rotate(30deg);
    margin-top: 100px;
    

}
.in_header {
    font-size: 60px;
    color: bisque;
}
header {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    background:linear-gradient(rgba(0,0,0,0.5), #009688);
    background-size: cover;
    background-repeat: repeat-x;
    
}
.nav-item {
    padding-right: 20px;
}
.nav-link {
    color: white;
    font-size: 25px;
}
.nav-link:hover {
    color: black;
}

.box-1 {
    margin: 100px;
}


.box-0 {
    margin-right: 300px;

}
/* manik */
.img-main img {
    opacity: 0.8;
    width: 80%;
   height: 500px;}
.main_1 {
    /* position: relative; */
    width: 90%;
    

}
.main_2 {
     /* position: absolute; */
    background-color:#edf5f3;
    width: 100%;
    height: 100%;
    /* text-align: left; */
    left: -250px;
    top: 50px;
    z-index: 1;
    box-shadow:10px 5px 20px 10px black;
    
}
/* main 2 */
.section-2 {
    margin-top: 50px;
}
.panel {
    width: 100%;
    
}
.over_lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
    background-color: rgb(29, 28, 28);
    opacity: 0.5;
}
.box_33 {
    width: 100%;
    
    height: 55vmin;
    background-image: url('../accset/Phan-Biet-Alaska-Va-Husky-Con.jpg');
    background-position:-24rem -19rem;
    background-size: 150%;
    position: relative;
}
.content {
    position: absolute;
    top: 100px;
    left: 390px;
    color: aliceblue;
    z-index: 1;
}
.number_1 {
    background-color:white;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 20px;
    margin-top: -100px;
    z-index: 1;
    width: 190px;
    height: 190px;
}
/* card-body */
.card .pricing {
    height: 300px;
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
   

}

.card_2 {
    margin-left: 30px;
    margin-right: 30px;
}
.card-text {
 
    
}
.pricing {
}
/* section-3 */
.section-3 {
    height: 400px;
}
/* footer */
.row_1 {
    background-color: rgb(94, 90, 90);
}

