.nav__header {
    height: 50px;
    background-color:aqua;
}
.nav__btn a {
    line-height: 50px;
}
.navbar {
    width: 200px;
    margin-left: 200px;
}
li {
    list-style: none;
}
.text__header {
    text-align: center;
    
}
.text__header > p {
    line-height: 50px;
}

.inset__text {
    border-left: 1px black solid;

}
/* header 2 */
.img__header--2 {
   margin-left: 200px;
   /* padding: 0 50px; */

}
.hd__right {
    display: flex;
}
.danhmuc {
    height: 50px;
    width: 100%;
    

}
.danhmuc__btn {
    line-height: 50px;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 20px;
    color: aliceblue;
    
}
.danhmuc__btn--1 {
    margin-left: 200px;
}
.input__danhmuc {
   margin-left: 100px;
   border: none;
   color: #fff;
   border-bottom: 1px solid #fff;

}
.search {
    font-size: 20px;
    color: #fff;
}
/* main */


.img__main {
    width: 400px;
    height: 300px;
    padding: 0 40px;
    
}

.text-title {
    margin-left:30px;
    background-color: blue;
    width: 300px;
    height: 50px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
   
}
.content__main {
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 25px;
}

.text-main {
    margin-left: 30px;
}
.chitiet {
    position: absolute;
    bottom:-150px;
    left: 40px;
}
/* main2 */
.box__2 {
    margin-top: 200px;
}
.section {
    margin-top: 200px;
}

/* mobile */
@media only screen and (max-width:46.1875em) {
 
  .nav__btn a {
          padding: 5px;
          /* margin: 10px; */
  } 
  .navbar {
      margin-left: 40px;

  }
  .img__header--2 {
      margin-top:30px;
      margin-left: 30px;
  }
  .danhmuc {
      width: 100%;
  }
  .danhmuc__btn--1 {
          margin-left: 10px;
  }
  .my__tour {
      margin-top: 20px;
  }
  .box__1 {
      margin-top: 10px;
      margin-bottom: 150px;
      margin-left: 5px;
  }
  .slide__main {
      margin-top: 10px;
  }
  .danhmuc__btn {
      padding: 0 10px;
  }
  .box__2 {
      margin-top: 10px;
      margin-bottom: 200px;
  }
  .img__ft {
      width: 50px;
  }
  iframe {
      width: 300px;
  }
}