
.header__nav {
    height: 60px;
    background-color: rgb(187, 196, 193);
}
.navbar a {
    padding: 5px 23px;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-style:initial;
}
.slider__hd {
    background: url('./di-phuot-tai-huyen-can-gio.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    
    height: 800px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
/* input.same-return-content::after {
    content: '';
    background: #ffc107;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 2;
    color: #f0c540;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    border-radius: 3px
} */

.form__btn {
    
 width: 100%;
 padding: 13px 0;
 text-transform: uppercase;
 margin-top: 20px;
 border: none;
 background-color: yellow;
}
.paraghrap__sd {
    top: 200px;
    left: 200px;
    color: #ccc;
    font-size: 24px;
    z-index: 1;
}
.form {
   position: absolute;
   top: 200px;
   right: 100px;
    background-color: rgb(119, 113, 113);
    height: 500px;
    z-index: 1;
    opacity: 0.8;
}
/* main */

.motobuy {
    width: 400px;
    height: 550px;
    background-color: #ccc;
    
}
.motobuy:hover{
    background-color: yellow;
    
    
}
.motobuy2 {
    margin-left: 20px;
    margin-right: 20px;
}
.moto__btn {
    margin-left: 100px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    
}
.motobuy1 {
    margin-left: 100px;
}
.text__r15 {
    
    position: relative;
    
}
.r15 {
    z-index: 1;
    margin-top: -40px;
    margin-left: -130px;
    position: absolute;
    text-transform: uppercase;
    
}
a {
    text-decoration: none;
}
.footer {
    background: url('./phuot-xe-may.jpg');
    height: 700px;
    background-size:cover;
    
}
.inset__ft {
  position: absolute;
  margin-left: 320px;
  top: 100px;
}
.inset__ft > p {
    padding: 30px 0;
}
.inset__ft > a {
    text-decoration: none;
    text-transform:uppercase;
    padding: 10px;
    
    
}
.section__2 {
    height: 100px;
}


#tim{
    position: fixed;
    width: 100px;
    height: 90px;
    background: green;
    z-index: 9999;
    top: 300px;
    left: 100px;
}
#tim::before, #tim::after{
    
    top: 0;
    right: 0;
    position: absolute;
    content: "";
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#tim::after{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.h2r {
    margin-left: 260px;
}
.d2 {
    float: left;
    margin: 0 10px;
}
.list__moto {
    clear: both;
}
.d1 {
    width: 100%;
    
}
@media screen and (max-width:700px){
    .d1 {
        width: 50%;
    }
    
}

/* mobile */
@media only screen and (max-width:46.1875em) {
    .header__nav {
        width: 100%;
    }
    .slider__hd {
        width: 100%;
        background-size: cover;
    }
    .paraghrap__sd {
      left: 10px;
      font-size: 14px;
     
    }
    .form {
        position: absolute;
        right: 1px;
        background-color: #000;


    }
    main {
        margin-top: 550px;
    }
    .list__moto {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        z-index: -1;
    }
   .motobuy1 {
       margin-left: 0px;
       margin-bottom: 10px;
   }
   .motobuy2 {
    margin-left: 0px;
    margin-bottom: 10px;
   }
    .inset__ft {
        margin-left: 0px;
    }
    .h2r { 
       margin-left: 100px;
    }
    .madam {
        /* display: flex;
        flex-direction: column; */
    }
   .phone {
      margin-left: 105px;
   }

}
.phone {
    border: #000 solid 1px ;
}

/* ibad */
@media only screen and (min-width:600px){
    .header__nav {
        width: 100%;
    }
    .slider__hd {
        width: 100%;
        background-size: cover;
        height: 1000px;
    }
    .paraghrap__sd {
      left: 10px;
      font-size: 25px;
      top: 0;
      
     
    }
    .form {
        position: absolute;
        right: 20px;
        background-color: #000;
    }
    .motobuy1 {
        margin-left: 200px;
        margin-bottom: 20px;
    }
    .motobuy2 {
        margin-left: 199px;
    }
    .motobuy3 {
        margin-left: 200px;
        margin-top: 20px;
    }
    
    
   .h2r {
       margin-left: 0px;
   }
    
}